/* 整個畫面 */
.game-board {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1.2fr 1fr;
  padding: 2%;
  box-sizing: border-box;
  background: no-repeat url("../resource/game_background.png");
  overflow: hidden;
}

.game-board::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at 50% 35%,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  z-index: 0;
}

.game-board > * {
  position: relative;
  z-index: 1;
}
/* 玩家區 */

.opponent-area,
.player-area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.player-info {
  position: relative;
  right: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
/* 頭像  */
.head-circle {
  position: relative;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  border: 4px solid rgba(201, 196, 194, 0.877);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.head-op {
  position: relative;
  top: 5%;
  height: 90em;
  width: 90em;
  background: no-repeat url(../resource/wolf.png);
  background-position: center;
}

.head-me {
  position: relative;
  height: 90em;
  width: 90em;
  background: no-repeat url(../resource/sheep.png);
  background-position: center;
}

/* HP */
.hp-area {
  display: flex;
  justify-content: space-between;
  gap: 10%;
  position: relative;
  left: 1em;
}
.hp-info {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 25px;
  font-weight: bold;
}
.hp-change {
  position: relative;
  color: green;
  animation: hpAnimation 3s ease-out;
}
@keyframes hpAnimation {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

/* 手牌  */
.card-row {
  display: flex;
}

.card-row .card {
  margin-left: -1.2em;
  width: 7em;
  height: 10em;
}

/*  中間戰鬥區  */
.battle-area {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-items: center;
}
.card-deck {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
}

.Deck-info {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 1.3em;
  font-weight: bold;
}

.battle-circle {
  width: 7em;
  height: 10em;
  border-radius: 10%;
  border: 4px dashed rgba(0, 0, 0, 0.3);
}

.battle-card .card {
  width: 7em;
  height: 10em;
}

/* 確認出牌 */
.btn-confirm {
  position: relative;
  left: 83%;
  top: -70%;
  width: 10vw;
  height: 5vh;
  border-radius: 2rem;

  border: 3px solid rgba(19, 19, 73, 0.12);
  background: linear-gradient(#ffffff, #dcdcdc);
  color: #1a1a1a;

  font-weight: 900;
  font-size: 18px;
  cursor: pointer;

  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.18), 0 18px 40px rgba(0, 0, 0, 0.18);

  transition: transform 0.08s ease, box-shadow 0.08s ease, filter 0.15s ease;
}
.btn-confirm:hover {
  filter: brightness(1.03);
}

.btn-confirm:active {
  transform: translateY(6px);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.18), 0 12px 24px rgba(0, 0, 0, 0.18);
}
