html,
body {
  margin: 0;
  padding: 0;
}

.MatchPage {
  background-color: rgb(97, 136, 198);
  color: rgb(10, 0, 0);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 10vw;
  height: 22vh;
  perspective: 1000px;
  margin: 1rem;
}
.card.hover:hover {
  transform: scale(1.2);
}
/* 翻轉效果 */
/* 裝front,back容器 */
.flip_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.card.isFaceUp .flip_card_inner {
  transform: rotateY(180deg);
}

/* 有flipped時才會翻轉 */
.card.flipped .flip_card_inner {
  transform: rotateY(0deg);
  transition: 0.6s;
}

/* 正背面都一樣的設定 */
.card_front,
.card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 1rem;
  backface-visibility: hidden;
  text-align: center;
}

.card_back {
  background-color: rgba(101, 89, 89, 0.492);
  transform: rotateY(180deg);
}
/* selected時會放大且border變大 */
.card_front.selected {
  border: 3px solid black;
}

.card.notshow {
  visibility: hidden;
}

.comfirm_card {
  position: relative;
  left: 80vw;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
}
.comfirm_card:hover {
  transform: scale(1.2);
}

.comfirm_card:active {
  transform: scale(0.92);
}

.move_card {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  animation: moveToBattle 0.6s ease-out forwards;
}
@keyframes moveToBattle {
  from {
    transform: translate(-50%, 0) scale(1);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -40vh) scale(1.1); /* -40vh 大約飛到戰鬥區上面 */
    opacity: 1;
  }
}

.hp_animation {
  text-align: center;
  animation: hpAnimation 3s ease-out;
}
@keyframes hpAnimation {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
